.header_wrapper {
  display: flex;
  background: #f2f4f7;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  height: 68px;
  padding-right: 120px;
  padding-left: 120px;
}

.link {
  padding: 16px;
}

.active {
  color: #0b44cd;
}
