.nav_wrapper {
  display: flex;
  background: #f2f4f7;
  align-items: center;
  justify-content: space-between;
  height: 68px;
  padding-left: 10px;
}

.link {
  padding: 16px;
}

.active {
  color: #0b44cd;
}

@media screen and (min-width: 768px) {
  .nav_wrapper {
    padding-left: 120px;
    padding-right: 120px;
  }
}

@media screen and (min-width: 1440px) {
}
